<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wealtharvest</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
</head>

<body>

<section class="hero is-link is-fullheight-with-navbar is-primary">

    <div class="hero-head">
        <nav class="navbar is-fixed-top is-transparent is-expanded" role="navigation">

            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('main.index') }}">
                    <h1 class="title">
                        Wealtharvest
                    </h1>
                </a>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>
</html>
