{% extends "layout.html" %}

{% block content %}

<section class="hero">

    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Wealtharvest
            </h1>
            <h2 class="subtitle">
                Easy Savings, Better Living
            </h2>
        </div>

    </div>

    <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <div class="content is-centered">
                        <h3>Save More</h3>
                        <figure class="image is-128x128">
                            <img src="/static/images/save.png" alt="Save"/>
                        </figure>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <div class="content">
                        <h3>Invest Smartly</h3>
                        <figure class="image is-128x128">
                            <img src="/static/images/invest.png" alt="Invest"/>
                        </figure>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <div class="content">
                        <h3>Get Good Returns</h3>
                        <figure class="image is-128x128">
                            <img src="/static/images/returns.png" alt="Returns"/>
                        </figure>
                    </div>
                </article>
            </div>
        </div>


</section>
{% endblock %}