{% extends "layout.html" %}

{% block content %}

<head>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--IMport the jqery file-->
</head>
<style>




</style>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Wealtharvest
            </h1>
            <h2 class="subtitle">
                Easy Savings, Better Living
            </h2>
        </div>

    </div>
    <div>
        <!--        <form method="POST" action="/payments">-->
        <form>
            <div class="field">
                <div class="control">
                    <input class="input is-mobile is-rounded" name="amount" id="amountpaid" type="number"
                           onkeyup="myFunction()" placeholder="Amount to be Paid">
                </div>
            </div>
            <button id="proceed" class="button is-link is-inverted is-outlined">Proceed</button>
        </form>
    </div>
    <br/><br/><br/>
    <div id="changeViewer">
        <h2 class="subtitle">
            Do you wish to save {{ num }}?
        </h2>

        <div class="field is-grouped">
            <p class="control">
                <button class="button is-rounded">
                    <a href="{{ url_for('main.payments', bal=num) }}">Accept</a>
                </button>
            </p>
            <p class="control">
                <button class="button is-danger is-rounded">
                    <a href="{{ url_for('main.payments') }}">Decline</a>
                </button>
            </p>
        </div>

        <div>
            <button class="button is-link is-inverted is-outlined">Make Payment</button>
        </div>

    </div>


</section>

<script type="text/javascript">
$(function(){
    $('#proceed').click(function(){
    var amount = $('#amountpaid').val();
      $.ajax({
        url: '/paymentsAjax',
        data: $('form').serialize(),
        type: 'POST',
        success: function(response){
          console.log(response);
          console.log("Hello");
          $(".hero").append('<div id="changeViewer"><h2 class="subtitle">Do you wish to save $(response)?</h2>');

        },
        error: function(error){
          console.log(error);
        }
      });
    });
)};


</script>
{% endblock %}