<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FreeDEBT</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
</head>

<body>
<!--<section class="hero is-primary is-bold">-->
<section class="hero is-link is-fullheight-with-navbar">

    <div>
        <nav class="navbar" role="navigation">

            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('main.index') }}">
                    <h1 class="title">
                        FreeDEBT
                    </h1>
                </a>

                <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        Home
                    </a>
                    <a href="{{ url_for('main.about') }}" class="navbar-item">
                        About
                    </a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.profile') }}" class="navbar-item">
                        Profile
                    </a>
                    {% endif %}
                </div>
                <hr class="navbar-divider">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('authorize.signup') }}" class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a href="{{ url_for('authorize.login') }}" class="button is-light">
                                Log in
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.wallet') }}" class="button is-light">
                                My Wallet
                            </a>
                            <a href="{{ url_for('main.invest') }}" class="button is-light">
                                Invest
                            </a>
                            <a href="{{ url_for('authorize.logout') }}" class="button is-light">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>
