{% extends "layout.html" %}

{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Invest
            </h1>
            <h3 class="subtitle">
                Invest Cards
            </h3>
        </div>

    </div>
    <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Hello World</p>
                    <p class="subtitle">What is up?</p>
                    <div class="content">
                        <h3>Low Risk, Low Return</h3>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Foo</p>
                    <p class="subtitle">Bar</p>
                    <div class="content">
                        <h3>Medium Risk, Medium Return</h3>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Third column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <h3>High Risk, High Return</h3>
                    </div>
                </article>
            </div>
        </div>
</section>
{% endblock %}