{% extends "layout.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{ current_user.name }}!
</h1>
<body class="hero">

<div class="hero-body">
    <div class="container is-fullhd">
        <h2 class="subtitle">
            Your Personal Details
        </h2>
        <div class="has-text-justified has-text-grey-dark">
          <p>{{ name }}</p>
          <p>{{ email }}</p>
          <p>{{ occupation }}</p>
          <p>{{ martial }}</p>
          <p>{{ region }}</p>
        </div>
    </div>
</div>

{% endblock %}